<div class="container d-flex align-items-center flex-column">
    <header class="d-flex align-items-center">
        <img src="/images/icon-128.png" class="mr-3">
        <h1 class="m-0">MNIST</h1>
    </header>

    <div id="paint" style="position:relative">
        <div id="wPaint"
            class="shadow"
            style="position:relative; width:250px; height:250px; margin:20px auto 20px auto;">
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="predict" class="btn btn-primary">Predict</button>
        <button id="clear" class="btn btn-user">Clear</button>
    </div>

    <div class="result my-3" style="width: 250px;">
        {{!-- <div class="d-flex justify-content-center align-items-center">
            <h5 class="m-0 mr-3">0</h5>
            <div class="progress w-100">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div> --}}
    </div>

</div>